<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='/js/app.js'></script>

    <title>Ask a question</title>
</head>

<body>
<div class='card card-body bg-light'>
    <h1>Ask a question</h1>
    <br/>

    <form th:action='@{/getAnswer}' method='POST'>
        <div class='form-group row'>
            <div class='col-xs-4'>
                <label for='name'>Question: </label>
                <input type='text' class='form-control' name='name' id='name'>
            </div>
        </div>

        <input type='SUBMIT' value='Save'>
    </form>
</div>

</body>
</html>
