<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>Products List</title>
</head>

<body>
<div class='card card-body bg-light'>
    <h1>Product List</h1>
    <br/><br/>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Amount</th>
        </tr>
        <tr th:each="product: ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getWeight()}"></td>
            <td th:text="${product.getAmount()}"></td>
        </tr>
    </table>

    <!--This doesn't work as should be, but it's some way-->
    <!--<ul>
        <li th:each="product:${products}" th:text="${product.getName()}"></li>
        <li th:each="product:${products}" th:text="${products.listIterator().next().getWeight()}"></li>
        <li th:each="product:${products}" th:text="${product.getAmount()}"></li>
    </ul>-->

</div>

</body>
</html>

