<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>Product</title>
</head>

<body>
<div class='card card-body bg-light'>
    <h1>Product</h1>
    <br/><br/>
    Name: <p data-th-text="${product.getName()}"></p>
    Weight: <p data-th-text="${product.getWeight()}"></p>
    Amount: <p data-th-text="${product.getAmount()}"></p>

</div>

</body>
</html>

